.detalhesEvento{
	box-shadow: 0px 0px 5px grey;
	padding-left: 20px;
}

.formConvidado{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	
}

.tableEventos{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	
}

.formEvento{
	box-shadow: 0px 0px 20px grey;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}